<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="pd-drawer">
  <template>
    <div id="drawer" class$="{{positionClasse}}">
        <p> Drawer</p>
    </div>

  </template>


<script>

(function() {

  'use strict';
  class PdDrawer {
    beforeRegister(){
      // Takes camelcase class name "StockTicker" -> "stock-ticker".
      let is = this.constructor.name.replace(/\W+/g, '-')
       .replace(/([a-z\d])([A-Z])/g, '$1-$2').toLowerCase();
      this.is = is ,
      this.properties = {
        drawerSidePosition:{
              type:Object,
              value:function () {
                  return {
                    leftSide:true,
                    rightSide:false,
                    topSide:false,
                    bottomSide:false
                  };
              }
            },

            drawerPinPosition:{
              type:Object,
              value:function(){
                return {
                  leftPin:true,
                  rightPin:false,
                  topPin:false,
                  bottomPin:false
                }
              }
            },

            positionClasse:{
              type:String

            }

      }
      this.observers=[
          '_computeClass(drawerPinPosition.*,drawerSidePosition.*)'
        ]
    }


    _computeClass(){
      var classe=[];
        for(var item in this.drawerSidePosition){
          if( this.drawerSidePosition[item]== true){
            classe.push(item);
          }
        }

        for(var item in this.drawerPinPosition){
          if( this.drawerPinPosition[item]== true){
            classe.push(item);
          }
        }
        console.log(classe.join(' '));
        this.positionClasse=classe.join(' ');
    }

    setDrawerSidePosition(pos) {

      for( var item in this.drawerSidePosition){
        if (item!== pos){
            this.set('drawerSidePosition.'+ item ,false);
        }
        if (item == pos){
            this.set('drawerSidePosition.'+ pos ,true);
        }

      }

    }
    setDrawerPinPosition(pos){
    for( var item in this.drawerPinPosition){

      if (item!== pos){
        this.set('drawerPinPosition.'+ item ,false);
      }
      if(item == pos) {
          this.set('drawerPinPosition.'+ pos ,true);
      }
    }
    }

  }
  Polymer(PdDrawer);
})();
</script>
</dom-module>
