<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="pd-drawer">
  <template>
    <div id="drawer" class$="{{mainClasses}}">
        <p> Drawer</p>
    </div>


  </template>


<script>

(function() {

  'use strict';
  class PdDrawer {
    beforeRegister(){
      // Takes camelcase class name "StockTicker" -> "stock-ticker".
      let is = this.constructor.name.replace(/\W+/g, '-')
       .replace(/([a-z\d])([A-Z])/g, '$1-$2').toLowerCase();
      this.is = is ,
      this.properties = {
        drawerSidePosition:{
              type:Object,
              value:function () {
                  return {
                    leftShow:true,
                    rightShow:false
                  };
              }
            },

            drawerPinPosition:{
              type:Object,
              value:function(){
                return {
                  pinLeft:true,
                  pinRight:false
                }
              }
            },
            leftLocked:{
              type: Boolean,
              value:true
            },
            rightLocked:{
              type: Boolean,
              value:false

            },
            leftShow:{
              type:Boolean,
              value:true
            },
            rightShow:{
              type: Boolean,
              value:false
            },
            mainClasses:{
              type:String,
            //  computed:'_computeClass(leftShow,rightShow,leftLocked,rightLocked)'
            }

      }
    }

  }
  Polymer(PdDrawer);
})();
</script>
</dom-module>
